@charset "UTF-8";

.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-color: darkgray;
    
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 3vw;
}
header p{
    padding-bottom: 50px;
    font-size: 2vw;

    
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 70px;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4vw;
}
section p {
    padding-bottom: 2em;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem{
    background-color: rgb(128, 128, 128);
    color: aliceblue;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    background-attachment: fixed;
}

section.imagem p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 20px;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}